body {
    margin: 0;
    padding: 0;
}
.cabecera {
    width: 100%;
    height: 10vh;
    background-color: rgba(20, 20, 20, 0.9);
    position: fixed;
    z-index: 2;
}
.cabecera img {
    width: 9vh;
    padding: 0.5vh;
    border: solid 0;
    border-radius: 50%;
}
.menu {
    margin:0;
    display: inline-flex;
    height: 5vh;
    float: right;
}
.menu ul {
    display: inline-flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 4vh;
    padding: 3vh 40px 3vh;
    text-align: center;
}
.menu li {
    display: inline-flex;
    padding: 10px 30px;
    border: solid rgb(114, 113, 113) 2px;
    border-radius: 20px;
    color: rgb(114, 113, 113);
    margin: auto 20px;
    vertical-align: c;
    background-color: rgba(15, 14, 14, 0) !;
}
.menu li:hover {
    background-color: orange;
    color: white;
    transition: .5s;
}
.fondo {
    width: 100%;
    height: 700px;
    overflow: hidden;
    position: relative;
    z-index: 0;
}
.form {
    
    width: 100%;
    height: 700px;
    position: absolute;
    background-color: rgba(8, 8, 8, .7);
    top: 0;
}
.apartado1 {
    margin: 150px;
    color: white;
}
fieldset {
    border-color: rgb(114, 113, 113);
    border-radius: 20px;
}
.apartado1 div {
    width: 50%;
    float: left;
    padding: 10px 0;
}
.apartado1 input{
    border-radius: 20px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.4);
    color: rgb(220, 214, 214);
}
.apartado1 .radio input {
    width: 20px;
    
}
.apartado1 div textarea {
    background-color: rgba(255, 255, 255, 0.4);
    width: 80%;
    height: 100px;
}
.apartado1 button {
    float: right;
    margin: 2% 10%;
    padding: 7px 15px;
    border-radius: 20px;
    background-color:rgba(255, 255, 255, 0.4);;
}
.apartado1 button:hover{
    background-color: orange;
    color: white;
    transition: .5s;
}
