@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');
body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    background-color: rgb(225, 244, 247);
}
/* https://www.websitecodetutorials.com/code/css/css-center-nav.php */
nav{
    position: sticky;
    top: 0%;
    padding: 0;
    background-color: rgb(31, 31, 131);
    overflow: auto;
    z-index: 1;
    margin: 0 auto;
}
nav ul {
    margin: 0;
    margin-left: 27%;
    padding:0;
    color: white;
    display: inline-flex;
    width:865px;
    padding: 0 auto;
}
nav ul li {
    margin: 0 auto;
    padding: 15px 20px;
    list-style: none;    
    color: white;
    text-decoration: none;
}
nav ul li:hover {
    transition: .3s;
    background-color: rgba(211, 211, 211, 0.3);
}
nav ul a:hover li {
    transition: .3s;
    color:rgb(0, 255, 242);
}
nav ul .current {
    text-decoration: underline white;
}
header {
    height: 50vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url(../Img/cabecera.jpg);
    color: white;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}
.cabecera {
    margin: 0; padding: 0;
    position: absolute;
    height: 50vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.24);
    top: 50px;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-weight: lighter;
    font-size: xx-large;
}
.cabecera h2 {
    margin: 70px 0 40px;
    font-weight: lighter;
}
.cabecera p {
    width: 50%;
    margin: 0 auto;
}
.cabecera div {
    margin: 115px auto;
    font-weight: bolder;
    height: auto;
    padding: 20px 0;
    width: 30%;
    background-color: #5142b0;
    border: 0px;
    border-radius: 5px;
}
.cabecera div:hover{
    transition: .3s;
    background-color: rgb(107, 201, 232);
}
.cabecera div a {
    padding-top: 20px;
    color: white;
    text-decoration: none;
}
.cabecera div a:visited{
    text-decoration: none;
}
body section h2,h3{
    color: blue;
    font-weight: 400;
}
body section h2 {
    font-size: xx-large;
}
hr {
    width: 75%;
    margin: 0 auto;
    border-top: lightgray 1px solid;
}
#bienvenido {
    text-align: center;
    padding: 40px 0;
    width: 70%;
    margin:0 auto;
}
#bienvenido p:last-child{
    padding-top: 20px;
}
#distribucion{
    width: 70%;
    margin: 0 auto;
}
#distribucion h2 {
    text-align: center;
}
#distribucion div{
    display: inline-block;
    width: 18%;
    margin: 0 .8% 5%;
    vertical-align: top;
}
#distribucion div h3 {
    text-align: center;
}
#distribucion div ul {
    list-style: "- ";
    margin: 0;
    padding: 0;
}
#distribucion div li {
    margin:0;
    padding-bottom: 10px;
}
/*Comentarios*/

#opiniones .comentarios {
    width: 50%;
    float:left;
    padding-left: 20px;
}
#opiniones .comentarios form{
    height: 100%;
    padding-bottom: 150px;
}
#opiniones .comentarios div{
    
}
#opiniones .comentarios label{
    float: left;
    width: 40%;
}
#opiniones .comentarios input{
    float: right;
    width: 40%;
}
#opiniones .comentarios img {
    width: 20px;
    margin: 0;
}
#opiniones .comentarios textarea{
    float: right;
    height: 90px;
}
#opiniones .comentarios button{
    width: 35%;
    height: 40px;
    margin: 0 auto;
    font-size: large;
    font-weight: 10;
    color: white;
    background-color: #5142b0;
    border: solid 0px;
    border-radius: 6px;
}
#opiniones .comentarios button:hover{
    background-color: rgb(107, 201, 232);
    transition: .3s;
}
#opiniones .estrellas {
    float: right;
    width: 50%;
    margin: 0;
}
#opiniones .estrellas img {
    width: 200px;
}